<%= render "layouts/nav" %> 

<div id="index-wrapper"></div>

<script>$(Starbnb.initialize);</script>

<script type="text/javascript"
  src='<%= "https://maps.googleapis.com/maps/api/js?key=" + ENV["GOOGLE_KEY"] %>' >
</script>


