<div class="row spaceport-new-wrapper"> 
  <form>
    <div class="row">
      <div class="col-xs-12 new-spaceport-form-wrapper">
        <h2>New Spaceport</h2>
          <div class="new-spaceport-img-wrapper">
            <img
              class="new-spaceport-img"
              src="assets/spaceport/default.jpg">
              <button
                id="new-img-button"
                class="btn btn-default">
                Select Spaceport Photo
              </button>
          </div>
          
        <div class="form-group">
          
          <label 
            class="control-label" 
            for="new-spaceport-name">Spaceport Name</label>  
          <input
            class="form-control"
            id="new-spaceport-name"
            type="text"
            name="spaceport[name]"
            value="">
        </div>
        
        <div class="form-group">
          
          <label 
            class="control-label" 
            for="new-spaceport-address">Address</label>  
          <input
            class="form-control"
            id="new-spaceport-address"
            type="text"
            name="spaceport[address]"
            value="">
        </div>
  
        <div class="form-group">
          
          <label 
            class="control-label" 
            for="new-spaceport-style">Spaceport Rental Type</label>
          <select class="form-control" name="spaceport[style]">
            <option value="" disabled selected>Select type</option>
            <option value="spaceport">Entire Spaceport</option>
            <option value="field">Private Launch Site</option>
            <option value="pad">Shared Launch Site</option>
          </select>
        </div>
  
        <div class="row">
          
          <div class="col-xs-4">
            <div class="form-group">
              
              <label 
                class="control-label" 
                for="new-spaceport-pads">Launchpads</label>
              <input
                type="number"
                id="new-spaceport-pads"
                class="form-control"
                name="spaceport[pads]"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
          </div>
          
          <div class="col-xs-4">
            <div class="form-group">
              
              <label 
                class="control-label" 
                for="new-spaceport-staff">Staff Count</label>
              <input
                type="number"
                id="new-spaceport-staff"
                class="form-control"
                name="spaceport[staff]"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
          </div>
          
          <div class="col-xs-4">
            <div class="form-group">
              
              <label 
                class="control-label" 
                for="new-spaceport-price">Daily Price</label>
              <input
                type="number"
                id="new-spaceport-price"
                class="form-control"
                name="spaceport[price]"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="new-spaceport-description">Description</label>  
          <textarea
            class="form-control"
            id="new-spaceport-description"
            name="spaceport[description]"
            rows="3"></textarea>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h3>Click Spaceport Location</h3>
            <div class="new-spaceport-map-frame">
              <div id="new-map-canvas"></div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              
              <label 
                class="control-label" 
                for="new-spaceport-latitude">Latitude</label>
              <span
                type="number"
                id="new-spaceport-latitude"
                class="form-control"
                name="spaceport[latitude]"
                onkeypress="return event.charCode === 190" ></span>
            </div>
          </div>
        
          <div class="col-xs-6">
            <div class="form-group">
              
              <label 
                class="control-label" 
                for="new-spaceport-longitude">Longitude</label>
              <span
                type="number"
                id="new-spaceport-longitude"
                class="form-control"
                name="spaceport[longitude]"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"></span>
              </div>

            </div>
          <div class="col-xs-12">
            <input
              id="new-spaceport-submit"
              class="btn btn-primary"
              type="submit"
              value="Submit">
          </div>
        </div>
        
      </div> 
    
    </div>
  </form>
  

</div>