<a href="<%= '#/spaceports/' + spaceport.get('id') %>">
	<div class="brief-img-wrapper col-xs-12">
	  <div class="user-starport-price-frame">
	    <span class="brief-dollar price-color"><strong>$</strong></span>
	    <h3 class="brief-price price-color"><%= spaceport.escape('price') %></h3>
	  </div>
	  <div id="dummy-x"></div>
	  <div id="element-x">
	    <img src="<%= spaceport.photos().at(0).escape('url') %>" class="brief-img">
	  </div>
	</div>

	<div class="user-starport-text-wrapper col-xs-12">
	  <h4><%= spaceport.escape('name') %></h4>
	</div>
</a>
