

<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
    <div class="comment-user-img-frame">
      <img src="<%= escape(comment.photoUrl) %>" class="brief-user-img">
    </div>
    <h4><%= escape(comment.username)%></h4>
  </div>
  <div class="col-xs-8">
  
    <p><%= comment.escape("body") %></p>
  </div>

</div>





