/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.nouislider.css
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

ul {
  list-style-type: none;
}

html, body, #map-canvas { 
  height: 100vh;
  width: 100%; 
  margin: 0; 
  padding: 0;
}

div.briefs div.brief {
  padding: 6px;
}

.brief-img {
  width: 100%;
  margin: auto;
}

.brief-text-wrapper {
  height: 50px;
}

.logo {
  max-width:100%;
  max-height:100%;
}

.navbar-brand {
  padding: 5px 20px;
}

.search-sidebar {
  margin-top: 50px;
  margin-left: 40%;
  padding-left: 30px;
}
.search-map-frame {
  width: 40%;
  position: fixed;
}


.search-map {
  background-color: lightblue;

  height: 100vh;

}

************************************************************

#container-x {
    display: inline-block;
    position: relative;
    width: 50%;
}
#dummy-x {
    padding-top: 75%; /* 4:3 aspect ratio */
}
#element-x {
  overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}

