/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.nouislider.css
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


a, p, h1, h2, h3, h4, h5, h6, span {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #565a5c;
}

#splash-navbar .navbar-btn {
  margin-right: 20px;
}

.splash-panel {
  color:white;
  position:absolute;
  width: 100%;
  height: 300px;
  top:15%;
//  background-color: rgba(0,0,0, 0.3);
//  border: 1px black solid ;
  border-radius: 2px;
}

#splash-title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 8em;
  font-style: normal;
  font-variant: normal;
  color: rgba(255,255,255, 0.9);
}

.splash-button-wrapper {
  margin: auto;
}

#splash-button {
  position: relative;
  display: inline-block;
  left:50%;
  margin-left: -145px;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 3em;
  border:none;
  width:290px;
  background-color: #ff7e82;
  color: white;
}

.splash-body-wrapper {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow: hidden;
  min-width: 1069;
}

.body-wrapper {

}

#splash-image {
  width:100%;
}

#splash-navbar {
  background-color: rgba(0,0,0, 0.3);
  border-bottom:1px black solid ;
}

#splash-navbar a{
  color: white;
}

.problem-field input, input.problem-field{
  background-color: pink;
}

.price-color {
	color: white;
}

.spaceport-heading {
  margin-top:0;
}

.help-block {
  height:16px;
  width:100%;
}

span.form-control {
  background-color: lightgrey;
}

.alert {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 2;
  width:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul {
  list-style-type: none;
}

.description-wrapper {
  width: 100%;
  background-color: #E8E8E8;
  border: 1px rgb(220, 224, 224) solid;
}

.comments-wrapper {
  background-color: #f5f5f5;
  border: 1px rgb(220, 224, 224) solid;
}

.comment-user-img-frame {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius:25px;
	border: 2px solid white;
	cursor: pointer;
	margin: auto;
}

.spaceport-comment-button {
  width: 100%;
  height: 74px;
}


.new-user-img-frame {
  width:200px;
}

#new-img-button {
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 0;
  border: none;
  background-color:#ff7e82;
  margin-bottom: 15px;
}

.new-user-img {
  width: 100%;
}



.user-show-wrapper {
  width:1045px;
  margin: 80px auto;
}

.user-show-img-frame {
	width: 100%;
}

.user-show-img {
	width: 100%;
}

.user-show-spaceport-frame {
  width: 100%;
}

.user-starport-price-frame {
  z-index: 1;
  background-color: rgba(60,63,64,0.9);
  position: absolute;
  left: 0px;
  top: 15px;
  padding: 5px 10px;
  color: white; 
}

#map-canvas { 
  height: 100vh;
  width: 100%; 
  margin: 0; 
  padding: 0;
}

#new-map-canvas { 
  height: 100%;
  width: 100%; 
  margin: 0; 
  padding: 0;
}


.centered-text {
	text-align: center;
}

.book-button {
	width: 100%;
	height: 40px;
	background-color: #ff7e82;
	color: white;
	border: none;
	margin-top: 30px;
	border-radius: 2px;
}

.book-button.pressed {
	background-color: #3FB8AF;
}

div.date-col {
  padding-right: 0;
}

div.body-wrapper {
	padding: 0;
}

.glyphicon {
	display: block;
	text-align: center;
	font-size: 3em;
}

.spaceport-new-wrapper {
  width:450px;
  margin: 80px auto;
}

.new-spaceport-form-wrapper {
  background-color: #f5f5f5;
  border: 1px rgb(220, 224, 224) solid;
  padding: 0 30px 40px 30px;
}

.new-spaceport-img-wrapper {
  width: 100%;
}

.new-spaceport-img {
  width: 100%;
}

.new-spaceport-map-frame {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  border: 1px rgb(220, 224, 224) solid;
}

#new-spaceport-submit {
  width: 100%;
}

.spaceport-price-wrapper {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: rgba(60,63,64,0.9);
	top: -60px;
	padding: 6px 15px;
}

.spaceport-price-box {
	float: left;
}

.spaceport-per-day-box {
	float: left;
}

.space-port-price {
	margin: 0;
}

.space-port-per-day {
	float:right;
}

.spaceport-image-wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

.spaceport-img {
	width: 100%;
	min-width: 1069px;
}

.spaceport-panel-wrapper {
	z-index: 1;
	position: relative;
}

.spaceport-panel-row {
	position: absolute;
	margin: 0;
	height: 185px;
	width: 100%;
	top: -185px;
	background-color: white;
	padding:20px;
}

.spaceport-panel-info-wrapper {
	width: 1045px;
	padding: 0 25px;
	margin: auto;
}

.spaceport-user-img-frame {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius:45px;
	border: 2px solid white;
	cursor: pointer;
	margin: auto;
}

.brief {
  cursor: pointer;
  padding: 6px;
}

.search-briefs-wrapper{
  background-color: #f5f5f5;
  border: 1px rgb(220, 224, 224) solid;
  padding: 20px;
}

.brief-price-frame {
  z-index: 1;
  background-color: rgba(60,63,64,0.9);
  position: absolute;
  left: 0px;
  bottom: 30px;
  padding: 5px 10px;
  color: white; 
}

.navbar-default {
	border: none;
	border-bottom: 1px solid rgb(220, 224, 224);
	border-radius: 0;
	margin-bottom: 0;
  background-color: white;
}

.navbar-standard-mix {
	position:absolute;
	width: 100%;
}

#bs-example-navbar-collapse-1 {
	padding: 0 15px;
}

.brief-dollar {
  position: relative;
  bottom: 7px;
}

.brief-price {
  margin: 0;
  display: inline;
  font-weight: normal;
}

.brief-img {
  width: 100%;
  margin: auto;
}

.brief-user-img{
  width: 100%;
}

.brief-user-img-frame{
  z-index: 1;
  display: inline-block;
  position: relative; 
  overflow: hidden;
  float: right;
  bottom: 70px;
  right: 0px;
  width: 60px;
  height: 60px;
  border-radius:30px;
	border: 2px solid white;
	cursor: pointer;
}

.brief-title-wrapper {
  height: 25px;
}

.brief-title {
  padding-right: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brief-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
}

.brief-text-wrapper {

}

.logo {
  max-width:100%;
  max-height:100%;
}

.navbar-brand {
  padding: 5px 20px;
}

.search-sidebar {
  margin-top: 50px;
  margin-left: 40%;
	padding: 0px;
}

.search-row {
  margin: 0 6px;
  padding: 20px 0;
  border-top: 1px solid rgb(220, 224, 224);
}
.search-row div.col-xs-3, .search-row div.col-xs-8 {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.search-row p {
  margin: 0;
}

.search-map-frame {
  width: 40%;
  position: fixed;
}

.search-filters-wrapper {
  padding: 0 20px;
}


.search-map {
  height: 100vh;
}

.slider-data {
  width: 55px;
}

#price-upper {
  float: right;
}

************************************************************

#container-x {
    display: inline-block;
    position: relative;
    width: 50%;
}
#dummy-x {
    padding-top: 75%;
}
#element-x {
  overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black
}

