/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.nouislider.css
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


a, p, h1, h2, h3, h4, h5, h6, span {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #565a5c;
}

.problem-field input{
  background-color: pink;
}

.price-color {
	color: white;
}

.help-block {
  height:16px;
  width:100%;
}

span.form-control {
  background-color: lightgrey;
}

.alert {
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-in;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul {
  list-style-type: none;
}

.new-user-img-frame {
  width:200px;
}

#new-img-button {
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 0;
  border: none;
  background-color:#ff7e82;
  margin-bottom: 15px;
}

.new-user-img {
  width: 100%;
}



.user-show-wrapper {
  width:1045px;
  margin: 80px auto;
}

.user-show-img-frame {
	width: 100%;
}

.user-show-img {
	width: 100%;
}

.user-show-spaceport-frame {
  width: 100%;
}

.user-starport-price-frame {
  z-index: 1;
  background-color: rgba(60,63,64,0.9);
  position: absolute;
  left: 0px;
  top: 15px;
  padding: 5px 10px;
  color: white; 
}

#map-canvas { 
  height: 100vh;
  width: 100%; 
  margin: 0; 
  padding: 0;
}

#new-map-canvas { 
  height: 100%;
  width: 100%; 
  margin: 0; 
  padding: 0;
}


.centered-text {
	text-align: center;
}

.book-button {
	width: 100%;
	height: 40px;
	background-color: #ff7e82;
	color: white;
	border: none;
	margin-top: 30px;
	border-radius: 2px;
}

div.date-col {
  padding-right: 0;
}

div.body-wrapper {
	padding: 0;
}

.glyphicon {
	display: block;
	text-align: center;
	font-size: 3em;
}

.spaceport-new-wrapper {
  width:450px;
  margin: 80px auto;
}

.new-spaceport-form-wrapper {
  background-color: #f5f5f5;
  border: 1px rgb(220, 224, 224) solid;
  padding: 0 30px 40px 30px;
}

.new-spaceport-img-wrapper {
  width: 100%;
}

.new-spaceport-img {
  width: 100%;
}

.new-spaceport-map-frame {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  border: 1px rgb(220, 224, 224) solid;
}

#new-spaceport-submit {
  width: 100%;
}

.spaceport-price-wrapper {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: rgba(60,63,64,0.9);
	top: -60px;
	padding: 6px 15px;
}

.spaceport-price-box {
	float: left;
}

.spaceport-per-day-box {
	float: left;
}

.space-port-price {
	margin: 0;
}

.space-port-per-day {
	float:right;
}

.spaceport-image-wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

.spaceport-img {
	width: 100%;
	min-width: 1000px;
}

.spaceport-panel-wrapper {
	z-index: 1;
	position: relative;
}

.spaceport-panel-row {
	position: absolute;
	margin: 0;
	height: 185px;
	width: 100%;
	top: -185px;
	background-color: white;
	padding:20px;
}

.spaceport-panel-info-wrapper {
	width: 1045px;
	padding: 0 25px;
	margin: auto;
}

.spaceport-user-img-frame {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius:45px;
	border: 2px solid white;
	cursor: pointer;
	margin: auto;
}

.brief {
  cursor: pointer;
}

div.briefs div.brief {
  padding: 6px;
}

.brief-price-frame {
  z-index: 1;
  background-color: rgba(60,63,64,0.9);
  position: absolute;
  left: 0px;
  bottom: 30px;
  padding: 5px 10px;
  color: white; 
}

.navbar-default {
	border: none;
	border-bottom: 1px solid lightgrey;
	border-radius: 0;
	margin-bottom: 0;
  background-color: white;
}

.navbar-standard-mix {
	position:absolute;
	width: 100%;
}

#bs-example-navbar-collapse-1 {
	padding: 0 15px;
}

.brief-dollar {
  position: relative;
  bottom: 7px;
}

.brief-price {
  margin: 0;
  display: inline;
  font-weight: normal;
}

.brief-img {
  width: 100%;
  margin: auto;
}

.brief-user-img{
  width: 100%;
}

.brief-user-img-frame{
  z-index: 1;
  position: relative; 
  overflow: hidden;
  float: right;
  bottom: 80px;
  right: 15px;
  width: 60px;
  height: 60px;
  border-radius:30px;
	border: 2px solid white;
	cursor: pointer;
}

.brief-text-wrapper {
  height: 50px;
  padding-right: 75px;
}

.logo {
  max-width:100%;
  max-height:100%;
}

.navbar-brand {
  padding: 5px 20px;
}

.search-sidebar {
  margin-top: 50px;
  margin-left: 40%;
	padding: 20px 15px 0 15px;
}
.search-map-frame {
  width: 40%;
  position: fixed;
}


.search-map {
  background-color: lightblue;

  height: 100vh;

}

.slider-data {
  width: 40px;
}

#price-upper {
  width: 40px;
  float: right;
}

************************************************************

#container-x {
    display: inline-block;
    position: relative;
    width: 50%;
}
#dummy-x {
    padding-top: 75%;
}
#element-x {
  overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black
}

