<div class="search-sidebar">
<form>
  <div class="form-group">
    <input type='text'
      name="space[checkIn]"
      class="form-control datetimepicker"
      placeholder="Check In" 
      id='datetimepickerStart'/>
    <input 
      name="space[checkOut]"
      type='text' 
      class="form-control datetimepicker"
      placeholder="Check Out"  
      id='datetimepickerEnd'/>
  </div>
  <div class="checkbox" name="space[style]">
    <label>
      <input class="checkbox-choice" type="checkbox" value="port"> Entire Port
    </label>
    <label>
      <input class="checkbox-choice" type="checkbox" value="field"> Private Airfield
    </label>
    <label>
      <input class="checkbox-choice" type="checkbox" value="pad"> Shared Airfield
    </label>
  </div>
  <div class="form-group">
    <label for="price-slider">Price Range</label>
    <div id="price-slider" name="space[priceRange]"></div>
    <input id="price-lower" class=slider-data ></input>
    <input id="price-upper" class=slider-data ></input>
  </div>
</form>
<div class="briefs"></div>