

<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <form action="<%= session_url %>" method="POST">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-7 col-xs-offset-2">
              <div class="form-group" id="login-field-wrapper">
                <label for="login-username">Username</label>  
                <input
                  class="form-control"
                  id="login-username"
                  type="text"
                  name="user[username]"
                  value="">
  
                <label for="login-password">Password</label>
                <input
                  class="form-control"
                  id="login-password"
                  type="password"
                  name="user[password]">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input 
            class="btn btn-primary"
            type="submit"
            value="Submit"
            >
        </div>
      </form>
    </div>
  </div>
</div>